<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.recruit.mapper.DataDictionaryMapper">
    <resultMap id="BaseResultMap" type="com.recruit.entity.DataDictionaryEntity">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="data_code" property="code" jdbcType="BIGINT"/>
        <result column="data_value" property="value" jdbcType="VARCHAR"/>
        <result column="data_desc" property="desc" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, data_code, data_value,data_desc
    </sql>
    <select id="getDataDictionary" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        t_recruit_data_dictionary
        WHERE 1=1
        and status = 0
        <if test="code!=null and code!=0">
           and data_code = #{code}
        </if>
    </select>
    <select id="queryNextValue" parameterType="Long" resultType="Long">
        SELECT max(data_value)+1
        FROM t_recruit_data_dictionary
        where data_code = #{code}
    </select>
    <insert id="insert" parameterType="com.recruit.entity.DataDictionaryEntity">
        INSERT INTO t_recruit_data_dictionary (data_code,data_value,data_desc)
        VALUES (#{code},#{value},#{desc})
    </insert>
    <update id="failData" parameterType="Long">
        UPDATE t_recruit_data_dictionary
        set status = 1
        where id = #{id}
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.recruit.entity.DataDictionaryEntity">
         UPDATE t_recruit_data_dictionary
         <set>
             <if test="desc!=null and desc!=''">
               data_desc = #{desc}
             </if>
         </set>
        WHERE id = #{id}
    </update>
</mapper>