<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.recruit.mapper.EmployerBusinessMapperMapper">

    <sql id="Base_Column_List">
        id, employer_id, business_id,created_at,
        updated_at
    </sql>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from t_recruit_employer_business_mapping
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.recruit.entity.EmployerDetailEntity" useGeneratedKeys="true"
            keyProperty="id">
        insert into t_recruit_employer_business_mapping (employer_id, business_id)
        values
        <foreach collection="recruitBusinessList" item="business" index="index" separator=",">
            (
            #{employer_id}, #{business.businessId}
            )
        </foreach>
        )
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.recruit.entity.EmployerBusinessMapper">
        update t_recruit_employer_business_mapping
        set employer_id = #{issueName,jdbcType=BIGINT},
        business_id = #{companyName,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>