<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.recruit.mapper.EmpMasterMapperEntityMapper">
    <resultMap id="BaseResultMap" type="com.recruit.entity.EmpMasterMapperEntity">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="tech_master_id" property="techMasterId" jdbcType="BIGINT"/>
        <result column="employer_id" property="employerId" jdbcType="BIGINT"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, tech_master_id, employer_id, status, created_at, updated_at
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_recruit_employer_master_mapping
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_recruit_employer_master_mapping
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.recruit.entity.EmpMasterMapperEntity">
    insert into t_recruit_employer_master_mapping (tech_master_id, employer_id,
      status
      )
    values (#{techMasterId,jdbcType=BIGINT}, #{employerId,jdbcType=BIGINT},
      #{status,jdbcType=VARCHAR}
      )
  </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.recruit.entity.EmpMasterMapperEntity">
        update t_recruit_employer_master_mapping
        <set>
            <if test="techMasterId != null">
                tech_master_id = #{techMasterId,jdbcType=BIGINT},
            </if>
            <if test="employerId != null">
                employer_id = #{employerId,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="createdAt != null">
                created_at = #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.recruit.entity.EmpMasterMapperEntity">
    update t_recruit_employer_master_mapping
    set tech_master_id = #{techMasterId,jdbcType=BIGINT},
      employer_id = #{employerId,jdbcType=BIGINT},
      status = #{status,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="getApplyMasterList" parameterType="Long" resultType="com.recruit.entity.RecruitTechMaster">
    SELECT  trtm.nick_name as nickName,trtm.id,mapping.status as status
    from t_recruit_tech_master trtm
    INNER  JOIN t_recruit_employer_master_mapping mapping
    ON trtm.id = mapping.tech_master_id
    WHERE mapping.employer_id = #{employerId}
  </select>
    <update id="confirmMaster" parameterType="map">
    UPDATE t_recruit_employer_master_mapping mapping
    SET status = '已绑定'
    WHERE mapping.tech_master_id = #{masterId}
      AND mapping.employer_id = #{empId}
  </update>
</mapper>