<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.recruit.mapper.RecruitBusinessMapper" >
  <resultMap id="BaseResultMap" type="com.recruit.entity.RecruitBusiness" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <id column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="business_name" property="businessName" jdbcType="VARCHAR" />
    <result column="business_code" property="businessCode" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, business_name, business_code, parent_id, created_at, updated_at
  </sql>
  <select id="getChildBusiness">

  </select>
  <select id="selectAllBusiness" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    from t_recruit_business parent
  </select>

  <select id="selectBusinessType" parameterType="map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    from t_recruit_business parent
    WHERE 1=1
    <if test="parentId!=null and parentId!=''">
      and parent_id = #{parentId}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_recruit_business
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="queryMaxCode" parameterType="Long" resultType="Long">
    SELECT max(business_code)+1
    FROM t_recruit_business
    WHERE parent_id = #{parentId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_recruit_business
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.recruit.entity.RecruitBusiness" >
    insert into t_recruit_business (business_name, business_code,
      parent_id
      )
    values (#{businessName,jdbcType=VARCHAR}, #{businessCode,jdbcType=VARCHAR},
      #{parentId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.recruit.entity.RecruitBusiness" >
    insert into t_recruit_business
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="businessName != null" >
        business_name,
      </if>
      <if test="businessCode != null" >
        business_code,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="businessName != null" >
        #{businessName,jdbcType=VARCHAR},
      </if>
      <if test="businessCode != null" >
        #{businessCode,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.recruit.entity.RecruitBusiness" >
    update t_recruit_business
    <set >
      <if test="businessName != null" >
        business_name = #{businessName,jdbcType=VARCHAR},
      </if>
      <if test="businessCode != null" >
        business_code = #{businessCode,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.recruit.entity.RecruitBusiness" >
    update t_recruit_business
    set business_name = #{businessName,jdbcType=VARCHAR},
      business_code = #{businessCode,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=BIGINT},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>