<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.recruit.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.recruit.entity.UserEntity">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="password" property="passWord" jdbcType="VARCHAR"/>
        <result column="token" property="token" jdbcType="VARCHAR"/>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_name, password,created_at,updated_at
    </sql>

    <select id="getAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_recruit_user
    </select>
    <select id="getUserByToken" resultMap="BaseResultMap" parameterType="string">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_recruit_user
        WHERE token = #{token}
    </select>
    <select id="getUserBySelect" resultMap="BaseResultMap" parameterType="com.recruit.entity.UserEntity">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_recruit_user
        WHERE 1=1
        <if test="userName!=null and userName!=''">
            and user_name = #{userName}
        </if>
        <if test="passWord!=null and passWord!=''">
            and password = #{passWord}
        </if>
    </select>
    <select id="getOne" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_recruit_user
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.recruit.entity.UserEntity">
       INSERT INTO 
       		t_recruit_user
       		(user_name,password)
       	VALUES
       		(#{userName}, #{passWord})
    </insert>

    <update id="update" parameterType="com.recruit.entity.UserEntity">
        UPDATE
        t_recruit_user
        SET
        <if test="token != null and token!=''">token = #{token}</if>
        WHERE
        user_name = #{userName}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
       DELETE FROM
       		 t_recruit_user
       WHERE 
       		 id =#{id}
    </delete>

</mapper>